.center {
    text-align: center;
}
.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
.font_verdana {
    font-family: Verdana;
}
.fuschia {
    color: fuchsia;
}
#fact1 {
    color: pink;
}
#fact2 {
    color: purple;
}
#fact3 {
    color: green;
    font-style: italic;
}
form {
    font-weight: bold;
}
.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
